#gameBox{
    border: 3px solid;
    text-align: center;
    color:rgb(89, 11, 11);
    background-color: hsl(49, 77%, 50%);
}

.button{
    
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color:bisque ;
}
#Ready{
    font-size: 18px;
    width: 70px;
    height: 30px;
    border: 3px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color:rgb(55, 161, 47) ;
}